.button-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.button-form .ant-form-item:last-child {
  margin-top: auto;
}

.ant-btn-primary {
  height: 35px;
  background-color: #00AEA7;
  border-radius: 5px;
  border: 1px solid #00AEA7;
  color: #ffffff;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
}

.ant-btn-primary:hover, .ant-btn-primary:active {
  background-color: #00AEA7 !important;
}

.cancel-btn {
  height: 35px;
  background-color: transparent !important;
  border-radius: 5px;
  border: 1px solid #00AEA7 !important;
  color: #00AEA7 !important;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
}

.cancel-btn:hover, .cancel-btn:active {
  background-color: transparent !important;
  color: #00AEA7 !important;
}

.ant-input, .ant-select-selector{
  background: #ffffff;
  box-shadow: none;
  border-radius: 5px;
  border: 0.5px solid #C1BDBD !important;
  color: #2E2E2E !important;
  font-size: 14px !important;
  height: 35px;
}

.ant-form-item {
  margin-bottom: 20px !important;
}

.mr-10 {
  margin-right: 10px;
}

.ant-table tbody>tr:nth-of-type(odd) {
  background-color: #F6F8FA;
}

.mb-20 {
  margin-bottom: 20px;
}